beautifulsoup4==4.6.3
bs4==0.0.1
cachetools==3.1.0
certifi==2018.11.29
chardet==3.0.4
chromedriver==2.24.1
cycler==0.10.0
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.11.7
django-toolbelt==0.0.1
google-api-core==1.7.0
google-auth==1.6.2
google-cloud-core==0.29.1
google-cloud-datastore==1.7.3
googleapis-common-protos==1.5.8
grpcio==1.18.0
gunicorn==19.7.1
idna==2.8
inflection==0.3.1
kiwisolver==1.0.1
matplotlib==3.0.2
more-itertools==4.3.0
numpy==1.15.4
pandas==0.23.4
pbr==3.1.1
protobuf==3.6.1
psycopg2==2.7.3.2
pyasn1==0.4.5
pyasn1-modules==0.2.4
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2017.3
Quandl==3.4.4
readline==6.2.4.1
requests==2.21.0
rsa==4.0
selenium==3.141.0
six==1.11.0
static3==0.7.0
stevedore==1.27.1
urllib3==1.24.1
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.8.2
