{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Main{% endblock %}
{% block body %}
<h2>Vue</h2>
<div class="row">
    <div id="app" class="col-sm-6">
        <h3>#1</h3>
      [[ message ]]
    </div>
    <div id="app-2" class="col-sm-6">
        <h3>#2</h3>
        <span v-bind:title="message">
            Hover your mouse over me for a few seconds
            to see my dynamically bound title!
        </span>
    </div>
    <div id="app-3" class="col-sm-6">
        <h3>#3</h3>
        <span v-if="seen">Now you see me</span>
    </div>
    <div id="app-4" class="col-sm-6">
        <h3>#4</h3>
        <ol>
            <li v-for="todo in todos">
                [[ todo.text ]]
            </li>
        </ol>
    </div>
    <div id="app-5" class="col-sm-6">
        <h3>#5</h3>
      <p>[[ message ]]</p>
      <button v-on:click="reverseMessage" v-bind:class="classObj">[[domsg]] Message</button>
    </div>

    <div id="app-6" class="col-sm-6">
        <h3>#6</h3>
      <p>[[ message ]]</p>
      <input v-model="message">
    </div>

    <div id="app-7" class="col-sm-6">
        <h3>#7</h3>
      <ol>
        <!--
          各 todo-item の内容を表す todo オブジェクトを与えます。
          これにより内容は動的に変化します。
          また後述する "key" を各コンポーネントに提供する必要があります。
        -->
        <todo-item
          v-for="item in groceryList"
          v-bind:todo="item"
          v-bind:key="item.id"
        ></todo-item>
      </ol>
    </div>

    <div id="app-8" class="col-sm-6">
        <h3>#8</h3>
        <div>
            <button v-on:click="a">POST</button>
        </div>
        <div>
            <p>[[ b ]]</p>
        </div>
    </div>
</div> <!--row-->

<hr>
<h2>Django</h2>
<div class="row">
    <div class="col-12">
        {{msg}}
    </div>
</div>

<hr>
<h2>Datastore</h2>
<div class="row">
    <div class="col-sm-6">
        <h3>Data</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Datetime</th>
                    <th>Name</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                {% for d in data %}
                <tr>
                    <td>{{d.datetime|naturaltime}}</td>
                    <td>{{d.name}}</td>
                    <td>{{d.age}}</td>
                </tr>
               {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <h3>Create</h3>
        <form method="POST">
            {% csrf_token %}
            <table class="table">
                {{ form }}
            </table>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-danger">Reset</button>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    var delimiters = ['[[', ']]']
    // 1
    var app = new Vue({
      el: '#app',
      delimiters: delimiters,
      data: {
        message: 'Hello Vue!'
      }
    })

    // 2
    var app2 = new Vue({
      el: '#app-2',
      data: {
        message: 'You loaded this page on ' + new Date().toLocaleString()
      }
    })

    // 3
    var app3 = new Vue({
      el: '#app-3',
      data: {
        seen: true
      }
    })

    // 4
    var app4 = new Vue({
      el: '#app-4',
      delimiters: delimiters,
      data: {
        todos: [
          { text: 'Learn JavaScript' },
          { text: 'Learn Vue' },
          { text: 'Build something awesome' }
        ]
      }
    })

    // 5
    var app5 = new Vue({
      el: '#app-5',
      delimiters: delimiters,
      data: {
        message: 'Hello Vue.js!',
        classObj: "btn btn-primary",
        domsg: "Reverse"
      },
      methods: {
        reverseMessage: function () {
          this.message = this.message.split('').reverse().join('')
          if(this.classObj=="btn btn-primary"){
              this.classObj = "btn btn-danger"
              this.domsg = "Init"
          }else{
              this.classObj = "btn btn-primary"
              this.domsg = "Reverse"
          }
        }
      }
    })
    // 6
    var app6 = new Vue({
      el: '#app-6',
      delimiters: delimiters,
      data: {
        message: 'Hello Vue!'
      }
    })

    // 7
    Vue.component('todo-item', {
      props: ['todo'],
      template: '<li>[[ todo.text ]]</li>',
      delimiters: delimiters,
    })
    var app7 = new Vue({
      el: '#app-7',
      data: {
        groceryList: [
          { id: 0, text: 'Vegetables' },
          { id: 1, text: 'Cheese' },
          { id: 2, text: 'Whatever else humans are supposed to eat' }
        ]
      }
    })

    // 8
    var app8 = new Vue({
      el:"#app-8",　//vueのインスタンスが紐づくDOM要素ののセレクタ
      data:{b: null},
      delimiters: delimiters,
      methods: {
          a: function() {
              axios.get("/ajax/").then((r) => {this.b = r.data.your_surprise_txt})
          },
      },
    })
</script>


{% endblock %}