{% extends 'base.html' %}
{% load static %}
{% block title %}Photo{% endblock %}
{% block body %}
<div id="overlay" class="hide">
  <div class="cv-spinner">
      <span class="spinner"></span>
  </div>
</div>

<div class="row">
  <div class="col-6 col-sm-4">
    <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      <i class="fas fa-cloud"></i> <span>Word Cloud</span>
    </button>
  </div>
  <div class="col-6 col-sm-4">
    <button class="btn btn-warning btn-block">
      <i class="fas fa-tag"></i> Tags:
      <span class="badge badge-light">
        <span class="ajax_label">{{label}}</span>
      </span>
    </button>
  </div>
  <div class="col-12 col-sm-4">
    <button class="btn btn-secondary btn-block" type="button" onclick="{location.reload()}">
      <i class="fas fa-random"></i> <span>Re-Sample</span>
    </button>
  </div>
  <div class="col-12">
    <div class="collapse show" id="collapseExample">
      <div class="card">
        <div id="wordcloud"></div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <p id="ajax_response"></p>
  </div>
</div>

<hr>

<div class="row" id="photo-cards">
  {% for p in photo %}
  <div class="col-6 col-md-4 col-lg-3 photo-card">
    <div class="card">
      <img
           src="{%static p.path_resized_480 %}"
           width="100%"
           title="{{p.datetime|date}}"
           data-toggle="modal" data-target="#{{p.id}}"
      >
    </div>
  </div>

  {% endfor %}

  {% for p in photo %}
  <!-- Modal order-->
  <div class="modal fade" id="{{p.id}}" tabindex="-1" role="dialog" aria-labelledby="order" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
            {{p.sitename}}
          </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <img src="{%static p.path_resized_1200 %}" width="100%">
          <table class="table">
            <tr>
              <td>
                <h5>
                  Country: <a class="badge bg-warning" href="?country={{p.country}}">{{p.country}}</a>
                </h5>
              </td>
              <td>
                <h5>
                  Prefecture: <a class="badge bg-warning" href="?prefecture={{p.prefecture}}">{{p.prefecture}}</a>
                </h5>
              </td>
            </tr>
            {% if p.comment %}
            <tr>
              <th>Comment</th>
              <td>{{p.comment}}</td>
            </tr>
            {% endif %}
          </table>
          {% if environment == "local" %}
          <a class="btn btn-info" href="{%url 'ra:photo_edit' id=p.id %}">Edit</a>
          {% endif %}
        </div>
        <div class="modal-footer">
          <p>{{p.path}} on {{p.datetime|date}}</p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block script %}
<!-- word cloud -->
<script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
<script src="{% static 'js/d3.layout.cloud.js' %}"></script>
{#<script src="{% static 'js/cloud.js'%}"></script>#}
<script>
var TARGET_ELEMENT_ID = '#wordcloud'; // 描画先
if (window.innerWidth > 768) {
  var h = 400;
  var w = 1200;
}else{
  var h = 400;
  var w = 500;
}

function test_h(text){
  window.alert(text);
  draw_wc(data_list);
}

var data_list = [
  {% for td in wordcloud_list %}
  {
    "word": "{{td.word}}",
    "count": {{td.count}},
    "url": "{{td.url}}",
    "property": "{{td.property}}",
  },
{% endfor %}
]

function draw_wc(data){
  var random = d3.randomIrwinHall(2); // アーウィンホール分布
  var countMax = d3.max(data, function(d){ return d.count} );
  var sizeScale = d3.scaleLinear().domain([0, countMax]).range([10, 100])

  var words = data.map(function(d) {
    return {
    url: d.url,
    text: d.word,
    property: d.property,
    size: sizeScale(d.count) //頻出カウントを文字サイズに反映
    };
  });
  d3.layout.cloud().size([w, h])
    .words(words)
    .rotate(function() { return (~~(Math.random() * 6) - 3) * 30; })
    .font("Impact")
    .fontSize(function(d) { return d.size; })
    .on("end", draw) //描画関数の読み込み
    .start();
  return words;

  // wordcloud 描画
  function draw(words) {
    d3.select(TARGET_ELEMENT_ID)
      .append("svg")
        .attr("class", "ui fluid image") // style using semantic ui
        .attr("viewBox", "0 0 " + w + " " + h )  // ViewBox : x, y, width, height
        .attr("width", "100%")    // 表示サイズの設定
        .attr("height", "100%")   // 表示サイズの設定
      .append("g")
        .attr("transform", "translate(" + w / 2 + "," + h / 2 + ")")
      .selectAll("text")
        .data(words)
      .enter().append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .style("font-family", "Impact")
        .style("fill", function(d, i) { return d3.schemeCategory10[i % 10]; })
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {
          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; })
        .on("click", function (d, i){
          // ajax
          $.ajax({
            url: "{% url 'ra:ajax' %}",
            method: "GET",
            data: {
              text: d.text,
              prop: d.property,
            },
            timeout: 10000,
            dataType: "json",
            //リクエストが完了するまで実行される
            beforeSend: function(){
              $('#overlay').removeClass('hide');
            }
          })
          .done(function(data_ajax) {
            //CARDS
            cards = d3.select('#photo-cards')
            cards.selectAll('div').remove()
            for (sample of data_ajax.samples){  // 配列のfor文はof
              // CARDS
              cards
                .append('div')
                  .attr("class", "col-6 col-md-4 col-lg-3 photo-card") // style using semantic ui
                .append('div')
                  .attr("class", "card")
                .append('img')
                  .attr("src", "/static/"+sample.path_resized_480)
                  .attr("width", "100%")
                  .attr("data-toggle", "modal")
                  .attr("data-target", "#"+sample.id)
              // MODAL
              var modal = cards
                .append("div")
                  .attr("class", "modal fade")
                  .attr("id", sample.id)
                  .attr("tabindex", "-1")
                  .attr("role", "dialog")
                  .attr("aria-labelledby", "order")
                  .attr("aria-hidden", "true")
                .append("div")
                  .attr("class", "modal-dialog modal-lg")
                  .attr("role", "document")
                .append("div")
                  .attr("class", "modal-content")
              var header = modal.append("div")
                .attr("class", "modal-header")
                .html(
                  '<h4 class="modal-title">'+sample.sitename+'</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>'
                )
              var body = modal.append("div")
                .attr("class", "modal-body")
                .html("<img src=/static/"+sample.path_resized_1200+" width=100%>")
              var table = body.append("table").attr("class", "table")
              var tr1 = table.append("tr")
              tr1.append("td").append("h5").html(
                'Country: <a class="badge bg-warning" href="?country='+sample.country+'">'+sample.country+'</a>'
              )
              tr1.append("td").append("h5").html(
                'Prefecture: <a class="badge bg-warning" href="?prefecture='+sample.prefecture+'">'+sample.prefecture+'</a>'
              )
              if (sample.comment) {
                var tr2 = table.append("tr")
                tr2.append("th").text("Comment")
                tr2.append("td").text(sample.comment)
              }
              var footer = modal.append("div")
                .attr("class", "modal-footer")
                .append('p')
                  .text(sample.path + " on " + sample.datetime.substr(0,10))
            }
            // LABEL
            d3.selectAll('.ajax_label').text(data_ajax.label)
            // Word Cloud
            d3.select(TARGET_ELEMENT_ID).select('svg').remove();
            draw_wc(data_ajax.wordcloud_list);
            $('#overlay').addClass('hide');
          })
        });
  }
}

words = draw_wc(data_list)
</script>
{% endblock %}