{% extends 'base.html' %}
{% load static %}
{% block title %}Photo{% endblock %}
{% block body %}
<div class="row">
  <div class="col-6">
  {% for l in labels %}
    <h5>
      <span class="badge badge-warning">
        {{l.val}}
        <a href="?">
          <i class="fas fa-times-circle"></i>
        </a>
      </span>
    </h5>
  {% endfor %}
  </div>
</div>
<hr>

<div class="row">
  {% for p in photo %}
  <div class="col-6 col-md-4 col-lg-3">
    <div class="card">
      <img class="card-img-top"
           {% if p.path_resized %}
           src="{%static p.path_resized %}"
           {% else %}
           src="{%static p.path %}"
           {% endif %}
           width="100%"
           title="{{p.datetime|date}}"
           data-toggle="modal" data-target="#{{p.id}}"
      >
    </div>
  </div>
  <hr>
  {% endfor %}

  {% for p in photo %}
  <!-- Modal order-->
  <div class="modal fade" id="{{p.id}}" tabindex="-1" role="dialog" aria-labelledby="order" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
            {{p.sitename}}
          </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <h5>


          </h5>

          <img src="{%static p.path %}" width="100%">
          <table class="table">
            <tr>
              <td>
                <h5>
                  Country:
                  <a class="badge bg-info" href="?country={{p.country}}">{{p.country}}</a>
                </h5>
              </td>
              <td>
                <h5>
                  Prefecture:
                  <a class="badge bg-warning" href="?prefecture={{p.prefecture}}">{{p.prefecture}}</a>
                </h5>
              </td>
            </tr>
            <tr>
              <th>Comment</th>
              <td>{{p.comment}}</td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          {{p.datetime|date}}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}