{% extends 'base2.html' %}
{% load static %}
{% block title %}Photo{% endblock %}
{% block body %}
<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <!--Sidebar header-->
    <div class="sidebar-header">
      <a href="{% url 'ra:photo' %}">
        <h4><i class="fas fa-camera-retro"></i> Where to Visit?</h4>
      </a>
      <a href="{% url 'ra:photo' %}">
        <strong>WV</strong>
      </a>
    </div>
    <!--Sidebar list-->
    <ul class="list-unstyled components">
      <li>
        <a href="{%url 'ra:main'%}">
          <i class="fas fa-info-circle"></i> About
        </a>
      </li>
      <hr>
      {% if property_list %}
      <li>
        <a href="#countrySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-globe"></i> Country
        </a>
        <ul class="collapse list-unstyled" id="countrySubmenu"></ul>
      </li>
      <li>
        <a href="#prefectureSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-map-signs"></i> Prefecture
        </a>
        <ul class="collapse list-unstyled" id="prefectureSubmenu"></ul>
      </li>
      <li>
        <a href="#sitenameSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-map-marker-alt"></i> Site
        </a>
        <ul class="collapse list-unstyled" id="sitenameSubmenu"></ul>
      </li>
      {% endif %}
    </ul>
  </nav>

  <!--Spinner-->
  <div id="overlay" class="hide">
    <div class="cv-spinner">
      <span class="spinner"></span>
    </div>
  </div>

  <!-- Page Content  -->
  <div id="content">
    {% if messages %}
    {% for msg in messages %}
    <div class="alert alert-{{ msg.tags }} alert-dismissible">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>{{ msg.tags }}</strong> {{msg}}
    </div>
    {% endfor %}
    {% endif %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>
          <span>Toggle Sidebar</span>
        </button>
        {% if title %}<h4>{{title}}</h4>{% endif %}
        <p>© 2019 fk-management.com</p>
      </div>
    </nav>

    <div class="row">
      <div class="col-12 col-sm-4">
        <button class="btn btn-warning btn-block">
          <i class="fas fa-tag"></i> Tags:
          <span class="badge badge-light">
            <span class="ajax_label"></span>
          </span>
        </button>
      </div>
      <div class="col-6 col-sm-4">
        <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <i class="fas fa-cloud"></i> <span>Word Cloud</span>
        </button>
      </div>
      <div class="col-6 col-sm-4">
        <button class="btn btn-secondary btn-block" type="button" onclick="{location.reload()}">
          <i class="fas fa-random"></i> <span>Re-Sample</span>
        </button>
      </div>
      <div class="col-12">
        <div class="collapse show" id="collapseExample">
          <div class="card">
            <div id="wordcloud"></div>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <div class="row" id="photo-cards"></div>
  </div>
</div>
{% endblock %}

{% block script %}
<!-- word cloud -->
<script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
<script src="{% static 'js/d3.layout.cloud.js' %}"></script>
<script src="{% static 'js/photo_ajax.js' %}"></script>
{% endblock %}