{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Training{% endblock %}
{% block body %}
<div class="row">
  <div class="col-12">
      <h2>Title</h2>
  </div>
  <div class="col-12">
    <form method="POST">
    {% csrf_token %}
    <table class="table table-light">
        {{ form }}
    </table>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>

<hr>
<div class="row">
  {% for d in data %}
  <div class="col-12 col-sm-6 col-md-4">
    <div class="card">
      <div class="card-header">
        {{d.name}}
      </div>
      <div class="card-body">
        <table class="table table-light">
          <tr>
            <th>Datetime</th>
            <td>{{d.datetime | date}}</td>
          </tr>
          <tr>
            <th>Weight</th>
            <td>{{d.weight}}kg</td>
          </tr>
          <tr>
            <th>Set</th>
            <td>{{d.no_set}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block script %}
{% endblock %}