{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Training{% endblock %}
{% block body %}
<div class="row">
  <div class="col-12 col-sm-6">
    <h3><i class="fas fa-dumbbell"></i> Record your trainig!</h3>
    <form method="POST">
    {% csrf_token %}
    <table class="table table-light">
      {{ form }}
    </table>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>

  <div class="col-12 col-sm-6">
    <h3>{{name_chart}} <span class="badge bg-primary">{{length_chart}}</span> </h3>
    <canvas id="chart"></canvas>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-12">
    <h3>All the data <span class="badge bg-primary">{{length}}</span> </h3>
  </div>
  <table class="table table-light table-sm">
    <thead>
      <tr>
        <th>Datetime</th>
        <th>Name</th>
        <th>Weight</th>
        <th>Set</th>
      </tr>
    </thead>
    <tbody>
      {% for d in data %}
      <tr>
        <td>{{d.datetime|date}}</td>
        <td><a href="?name={{d.name}}">{{d.name}}</a></td>
        <td>{{d.weight}}</td>
        <td>{{d.set}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block script %}
<script>
var lineChartData = {
  labels : [{%for dc in data_chart%} "{{dc.datetime|date}}", {%endfor%}].reverse(),
  datasets : [
    {
      label: "Weight",
      data: [{%for dc in data_chart%} {{dc.weight}}, {%endfor%}].reverse(),
      backgroundColor: "rgba(53,255,151,0.4)",
      // fill: false,
    },
  ]
}
var options = {
  responsive: true,
  scales: {
    yAxes: [{ticks: {beginAtZero: true, min: 0,}}]
  }
}
var ctx = document.getElementById("chart").getContext("2d");
if (window.innerWidth > 768) {
    ctx.canvas.width = 1000;
    ctx.canvas.height = 750;
  }else{
    ctx.canvas.width = 450;
    ctx.canvas.height = 450;
  }
var myChart = new Chart(ctx, {
    type: "line",
    data: lineChartData,
    options: options,
    // 下記を追加すると線がまっすぐになります
    /* bezierCurve: false */
});
</script>
{% endblock %}