{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Training{% endblock %}
{% block body %}
<div class="row">
  <div class="col-12">
    <h2><i class="fas fa-dumbbell"></i> Record your trainig!</h2>
  </div>
  <div class="col-12">
    <form method="POST">
    {% csrf_token %}
    <table class="table table-light">
      {{ form }}
    </table>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-12">
    <h3>{{name_chart}}</h3>
    You have {{length_chart}} data.
    <canvas id="chart"></canvas>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-12">
    <h3>All the data</h3>
    You have {{ length }} data
  </div>
  {% for d in data %}
  <div class="col-6 col-sm-4 col-md-3">
    <div class="card">
      <div class="card-header">
        <a href="?name={{d.name}}">{{d.name}}</a>
      </div>
      <div class="card-body">
        <table class="table table-light">
          <tr>
            <th>Datetime</th>
            <td>{{d.datetime | date}}</td>
          </tr>
          <tr>
            <th>Weight</th>
            <td>{{d.weight}}kg</td>
          </tr>
          <tr>
            <th>Set</th>
            <td>{{d.set}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block script %}
<script>
var lineChartData = {
  labels : [{%for dc in data_chart%} "{{dc.datetime|date}}", {%endfor%}].reverse(),
  datasets : [
    {
      label: "Weight",
      data: [{%for dc in data_chart%} {{dc.weight}}, {%endfor%}].reverse(),
      backgroundColor: "rgba(53,255,151,0.4)",
      // fill: false,
    },
  ]
}
var options = {
  responsive: true,
  scales: {
    yAxes: [{ticks: {beginAtZero: true, min: 0,}}]
  }
}
var ctx = document.getElementById("chart").getContext("2d");
if (window.innerWidth > 768) {
    ctx.canvas.width = 1000;
    ctx.canvas.height = 350;
  }else{
    ctx.canvas.width = 450;
    ctx.canvas.height = 450;
  }
var myChart = new Chart(ctx, {
    type: "line",
    data: lineChartData,
    options: options,
    // 下記を追加すると線がまっすぐになります
    /* bezierCurve: false */
});
</script>
{% endblock %}